/*  Start Landing Page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Gobal CSS ==========*/
/*section-title css  ==========*/
.section-title{
    margin: 40px 0;
}
.section-title h2{
    font-size: 40px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
}
/* End of section-title css ==========*/
ul{
    list-style: none;
}
a,a:hover{text-decoration: none;}
img{max-width: 100%;}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.btn{
    padding: 20px 45px;
    background-color: #6270DD;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 6px;
    box-shadow: 0 0 10px #6270DD;
}
a#scrollUp {
    position: absolute;
    color: #fff;
    height: 50px;
    width: 50px;
    background: #666;
    right: #fff;
    right: 57px;
    bottom: 52px;
    text-align: center;
   font-size: 32px;
   border-radius: 30px;
}
/* End of Gobal CSS ==========*/
/* header css here====================== */
.header-area.sticky {
    position: fixed;
    left: 0;
    right: 0; 
    z-index: 999;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
}  
.navbar-light{
    background-color: #fff !important;
    padding: 18px;
}
.logo{ 
    float: inline-start;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
} 
.navbar-light .nav-item .nav-link{ 
   color: #666;
   font-size: 18px;
   font-weight: 500;
   transition: all .3s ease;
   text-transform: capitalize;
   padding-right: 10px;
   line-height: 30px; 
} 
.navbar-light .nav-item .nav-link:hover{
    color: #6270DD;
    transition: all .3s ease;
}
.navbar-light .nav-item .nav-link.active{
    color: #6270DD;
    transition: all .3s ease;
}
.register{
    background: #6270DD;
    padding: 11px 40px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-left:  20%;
    display: inline-block;
    transition: all .3s ease;
}
.register:hover{
    background-color: transparent;
    border: 1px solid #6270DD;
    color: #666;
    transition: all .3s ease;
    display: inline-block;
    box-shadow: 0 0 5px #6270dd;
}
/*  End of header css here====================== */
/*  home  css here====================== */
.home-content{
    margin-left: 85px;
}
.home-content h2{
    font-weight: 700;
    font-size: 50px;
}
.home-content p{
    font-size: 14px;
    margin: 30px 0;
}
.home-thumb {
   margin-top: 100px;
   text-align: right;
   border-bottom: 5px solid #6270DD;
   transition: all linear .3s ease;
}
.btn-h:hover{
    background-color: transparent;
    border: 1px solid #6270DD;
    transition: all linear .3s ease;
}
/*  End of home css here====================== */
/* about css here====================== */
.about{
    padding: 90px 0;
}
.about-thumb img{
    border-radius: 30px;
} 
.about-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
}
.about-content p{
   font-size: 14px;
   color: #666;
   line-height: 25px;
}
/*  End of about css here====================== */
/*  how-work-content css here====================== */
.how-work{
    padding: 70px 0;
}
.carousel-inner{
    width: 100%;
}
.how-work-content{
    background: #f3f9ff;
    padding: 50px 20px  30px;
    border-radius: 30px;
    margin-top: 40px;
    transition: all linear .3s;
}
.how-work-content:hover{
    background-color: #6270DD;
    transition: all linear .3s;
}
.work-icon{
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 35%;
}
.work-icon i{
    font-size: 40px;
    color: #6270DD;
}
.how-work-content h3{
    font-size: 20px;
    margin: 35px 0 20px;
    font-weight: 600;
    color: #333;
}
.how-work-content:hover h3,
.how-work-content:hover p{
    color: #fff;
}
.how-work-content p{
    font-size: 14px;
    line-height: 30px;
    color: #666;
}
/*  End of how-work-content  css here====================== */
/* services  css here====================== */
.services{
    padding: 70px 0;
    background-color: #6270DD;
}
.number{
    width: 70px;
    height: 70px;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 35%;
}
.number h3{
    font-size: 30px;
    font-weight: 500;
    color: #6270DD;
}
.services-content h4{
    font-size: 20px;
    margin: 35px 0 20px;
    font-weight: 600;
    color: #fff;
}
.services-content p{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
   word-break: 2px;
   font-weight: 300;
}
/*  End of services css here====================== */
/*  team css here====================== */
.team{
    padding: 70px 0;
}
.team-member{
    background-color: #f3f9ff;
    padding: 20px 20px 48px;
    border-radius: 30px;
    margin-top: 30px;
}
.team-img img{
    border-radius: 30px;
    width: 330px;
    height: 329px;
}
.team-content{
    margin-top: 15px;
}
.team-content h4{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.team-content span{
    font-size: 15px;
    color: #666;
}
/*  End of team css here====================== */
/*  apply-now  css here====================== */
.apply-now{
    padding: 70px 0;
}
.apply-now-img {
   text-align: right;
}
.apply-now-content{
    margin-left: 95px;
}
.apply-now-content .dots span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e5ecff;
    border: 1px solid #6270DD;
    position: relative;
    display: block;
    margin-top: 35px;
    box-shadow: 5px 0  0 #a9c1fd;
    
}
.apply-now-content .dots span:after{
    position: absolute;
    content: '';
    width: 4px;
    height: 35px;
    left:48%;
    bottom: -35px;
    background-color: #a9c1fd;
} 

.apply-now-content  ul{
    margin-left: 7%;
    margin-top: -53%;
    display: block;
   
} 
.text-1{
    font-size: 21px;
    color: #666;
    margin-bottom: 50px;
}
.text-2{
    font-size: 21px;
    color: #666;
    margin-bottom: 50px;
}
.text-3{
    font-size: 21px;
    color: #666;
    margin-bottom: 56px;
}
.text-4{
    font-size: 21px;
    color: #666;
    margin-bottom: 50px;
}
.btn-a{
    padding: 20px 60px;
    margin-top: 40px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all linear .3s;
}
.btn-a:hover{
    letter-spacing: 5px;
    transition: all linear .3s;
    color: #fff;
}
/*  End of apply-now css here====================== */
/*  footer css here====================== */
.footer-area{
   padding: 70px 0;
   background-color: #0e1337;
}
.footer-title h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.footer-content p {
   color: #fff;
   font-size: 14px;
   margin-top: 30px;
   line-height: 25px;
}
.social-link a{
color: #fff;
padding: 0px 5px;
}
.footer-content ul {
   margin-left: 0px;
}
.footer-content ul li{
    padding: 5px  0;
}
.footer-content ul li a{
    color: #fff;
    font-size: 15px;
  
}
.copyright{
    color: #a1a1a1;
    margin-top: 30px;
    font-size: 18px;
}
/*  End of footer  here====================== */



/*  End Landing Page */







.push-5 {
  margin-bottom: 5px !important;
}
.push-5-t {
  margin-top: 5px !important;
}
.push-5-r {
  margin-right: 5px !important;
}
.push-5-l {
  margin-left: 5px !important;
}
.push-10 {
  margin-bottom: 10px !important;
}
.push-10-t {
  margin-top: 10px !important;
}
.push-10-r {
  margin-right: 10px !important;
}
.push-10-l {
  margin-left: 10px !important;
}
.push-15 {
  margin-bottom: 15px !important;
}
.push-15-t {
  margin-top: 15px !important;
}
.push-15-r {
  margin-right: 15px !important;
}
.push-15-l {
  margin-left: 15px !important;
}
.push-20 {
  margin-bottom: 20px !important;
}
.push-20-t {
  margin-top: 20px !important;
}
.push-20-r {
  margin-right: 20px !important;
}
.push-20-l {
  margin-left: 20px !important;
}
.push-30 {
  margin-bottom: 30px !important;
}
.push-30-t {
  margin-top: 30px !important;
}
.push-30-r {
  margin-right: 30px !important;
}
.push-30-l {
  margin-left: 30px !important;
}
.push-50 {
  margin-bottom: 50px !important;
}
.push-50-t {
  margin-top: 50px !important;
}
.push-50-r {
  margin-right: 50px !important;
}
.push-50-l {
  margin-left: 50px !important;
}
.push-100 {
  margin-bottom: 100px !important;
}
.push-100-t {
  margin-top: 100px !important;
}
.push-100-r {
  margin-right: 100px !important;
}
.push-100-l {
  margin-left: 100px !important;
}
.push-150 {
  margin-bottom: 150px !important;
}
.push-150-t {
  margin-top: 150px !important;
}
.push-150-r {
  margin-right: 150px !important;
}
.push-150-l {
  margin-left: 150px !important;
}
.push-200 {
  margin-bottom: 200px !important;
}
.push-200-t {
  margin-top: 200px !important;
}
.push-200-r {
  margin-right: 200px !important;
}
.push-200-l {
  margin-left: 200px !important;
}
.push-300 {
  margin-bottom: 300px !important;
}
.push-300-t {
  margin-top: 300px !important;
}
.push-300-r {
  margin-right: 300px !important;
}
.push-300-l {
  margin-left: 300px !important;
}
.pulldown {
  position: relative;
  top: 50px;
}
@media screen and (min-width: 992px) {
  .pulldown {
    top: 150px;
  }
}

#DataTables_Table_0_length,
#DataTables_Table_1_length,
#DataTables_Table_0_filter,
#DataTables_Table_1_filter,
#DataTables_Table_0_info,
#DataTables_Table_1_info {
    display: none;
}
.add_btn_style{
    background-color: #6270DD;
    padding: 10px 20px;
    border: navajowhite;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
button:focus{
    outline: none;
}
.safe_btn_style{
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
     color:  #33D69F;;
    background-color: #CFFAE5;
    padding: 8px 22px;
   
}
.unclear_btn-style{
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
     color:  #FE7940;;
    background-color: #FEEBDC ;
    padding: 8px 22px;
   
}
.referral_btn_style{
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color:  #E61414;;
    background-color: #FFE6E6  ;
    padding: 8px 22px;
   
}
.delete_btn_style,
.active_btn_style{
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
}
.delete_btn_style{
    background-color: #FFE6E6;
    color: #E61414;
    padding: 10px 20px;
}
.active_btn_style{
    background-color: #E5ECFF;
    color: #6270DD;
    padding: 10px 29px;
}
.active_btn_style:hover{
    background-color: #E5ECFF;
    color: #6270DD;
}
.delete_btn_style:hover{
    background-color: #FFE6E6;
    color: #E61414;
}
i.fas.fa-trash-alt {
    color: #FE7940;
}
a.active_btn_style:focus{
    color: #6270DD;
}
a.delete_btn_style:focus{
    color: #E61414;
}
/*=============================*/
/*Modal Style*/
/*=============================*/
.modal_header_style{
    background-color: #E5ECFF;
    border: 1px solid #D4D5D9;
}
.modal_header_style h5{
    color: #000000;
    font-size: 16px;
}
.title_label_style{
    color: #1F2639;
    font-size: 14px;
}
.input_form_style{
    border: 1px solid #6270DD;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 14px;
}
.form-control:focus {
    border-color: #6270DD;
}
.cancel_btn_style,
.form_add_btn_style{
    border: 1px solid #6270DD;
    border-radius: 3px;
    color: #6270DD;
    transition: .3s;
}
.cancel_btn_style{
    padding: 10px 20px;

}
.form_add_btn_style{
    padding: 10px 30px;
}
.cancel_btn_style:hover,
.form_add_btn_style:hover{
    background-color: #6270DD;
    border: 1px solid #6270DD;
    color: #fff;
}


.form_main_area {
    padding: 20px 25px 20px 65px;
}

.logo a {
    color: #592CBA;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
.welcom_area h1 {
    color: #2E0174;
    margin-top: 120px;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}
.signup_area h1{
    color: #2E0174;
    margin-top: 50px;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}
.recover_confirm h1{
    color: #2E0174;
    margin-top: 150px;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
}
.welcom_area p,
.signup_area p,
.recover_confirm p {
    color: #656666;
    font-size: 18px;
}

.form_control_style {
    background-color: #F0F4FF;
    border: none;
    border-radius: 5px;
    height: 60px;
    font-size: 18px;
    padding: 10px 20px;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
    background-color: #F0F4FF;
    color: #000;
}
.btn_style {
    background-color: #6270DD;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
}
.btn_style:hover{
    color: #fff;
    background-color: #7380F3;
}
.btn_style:focus {
    outline: 0;
    box-shadow: none;
}

.bg_image_area {
    background-color: #6270dd;
    text-align: center;
}
.fotter_text {
    text-align: center;
}
.fotter_text p,
.profile_back p {
    color: #656666;
    font-size: 18px;
}
.fotter_text .back_btn,
.profile_back .back_btn {
    color: #656666;
}
.fotter_text .back_btn:hover,
.profile_back .back_btn:hover {
    color: #6270DD;
}

/*Profile*/
.image_area h5 {
    font-size: 14px;
    color: #000000;
}
.image_area img {
    width: 80px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.image_area {
    border-right: 1px solid rgba(160, 164, 168, 1);
    margin-right: -20px;
    padding: 30px 0p;
}
.address_line_area ul {
    list-style-type: none;
}
.address_line_area {
    padding: 20px 0px;
}

.address_line_area ul li {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 5px;
}
.address_line_area ul li span {
    color: rgba(160, 164, 168, 1);
}
.case_details_style ul {
    padding: 0px 0px 0px 15px;
    margin-bottom: 0px;
}
.case_details_area_bottom h5 {
    color: #1F2639;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    border-bottom: 1px solid rgb(216 216 216);
}
.case_details_area_bottom ul {
    list-style-type: none;
    padding: 0px;
}
.case_details_area_bottom ul li {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 5px;
}
.case_details_area_bottom ul li span {
    color: rgba(160, 164, 168, 1);
}
.case_details_area_bottom ul .evaluated {
    color: #6270DD;
}
.case_details_area_bottom ul .diagnosis {
    color: #FF0000;
}
.case_details_area_bottom p {
    color: #1F2639;
}
.case_details_image_area ul {
    list-style-type: none;
    padding: 0px;
}
.case_details_image_area ul li {
    display: inline-block;
    width: 87px;
    margin-left: 9px;
    margin-top: 10px;
}
.case_details_image_area ul li:first-child {
    margin-left: 1px;
}
.case_details_image_area img {
    border-radius: 5px;
}
.case_details_history_area h5 {
    color: #1F2639;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    padding: 20px 20px 0px;
    margin-bottom: 10px;
}
.case_details_history_area .table thead {
    background-color: #E8E8E8;
}
.case_details_history_area .table thead tr th {
    color: #1F2639;
    font-size: 14px;
    font-weight: 600;
}
.case_details_history_area .table tbody tr {
    border-bottom: 1px solid #E8E8E8;
}
.case_details_history_area .table tbody tr td {
    font-size: 14px;
    color: #52575C;
}
.case_details_history_area .table tbody tr td .case_btn_style {
    border: none;
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
}
.safe_bg_color {
    background-color: #CFFAE5;
    color: #33D69F;
}
.unclear_bg_color {
    background-color: #FEEBDC;
    color: #FE7940;
}
.referral_bg_color {
    background-color: #FFE6E6;
    color: #E61414;
}
.case_details_history_area .view_more_design {
    font-size: 14px;
    font-weight: 600;
    color: #6270DD;
    padding: 20px 30px;
}
.case_details_history_area p {
    margin-bottom: 20px;
    padding: 20px 0px 25px;

} 

/*Dashboard Style*/
.dashboard_all_you_need {
    background-color: #6270DD;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 55px 15px 30px;
}
.dashboard_all_you_need p{
    font-size: 19px;
    line-height: 33px;
}
.dashboard_all_you_need a{
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.dashboard_tab_icon {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 14px;
}
.dashboard_tab_text h5 {
    color: #1F2639;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 0px;
}
.dashboard_tab_text h4 {
    letter-spacing: 0.9px;
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 0px;
}
.color_icon_1 {
    background-color: #E5ECFF;
    color: #6270DD;
}
.color_icon_2 {
    background-color: #FEF3EF;
    color: #FE7940;

}
.color_icon_3 {
    background-color: #F2EBFB;
    color: #713BDB;

}
.color_icon_4 {
    background-color: #FFEFF2;
    color: #FB5180;

}
.color_icon_5 {
    background-color: #EEF9FF;
    color: #49B8FF;

}
.color_icon_6 {
    background-color: #E8FAF9;
    color: #49BEB7;

}
.color_text_1 {
    color: #6270DD;
}
.color_text_2 {
    color: #FE7940;
}
.color_text_3 {
    color: #713BDB;
}
.color_text_4 {
    color: #FB5180;
}
.color_text_5 {
    color: #49B8FF;
}
.color_text_6 {
    color: #49BEB7;
}
.dashboard_main_tab_box_conten {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.dashboard_table_area {
    background-color: #fff;
    border-radius: 8px;
}
.dashboard_table_area h5 {
    padding: 20px 20px 5px;
}
.dashboard_table_area h5,
.dashboard_chat_area h5 {
    color: #1F2639;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 10px;
}
.dashboard_chat_area h5 {
    padding: 20px 20px 0px;
}
.dashboard_chat_area {
    background-color: #fff;
    border-radius: 8px;
}
.dashboard_chat_area hr{
    border-top: 2px solid #ebebeb;
}
.dashboard_chat_area p {
    text-align: center;
}
.dashboard_chat_area p {
    color: #52575C;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 0px;
}


@media only screen and (max-width: 991px) {
    .form_main_area{
        padding: 20px;
    }
    .welcom_area h1{
        font-size: 30px;
    }
    .welcom_area p,
    .signup_area p,
    .recover_confirm p {
        font-size: 14px;
    }
    .fotter_text p {
        font-size: 14px;
    }
    .case_details_image_area ul li:first-child {
        margin-left: 3px;
    }
    .case_details_image_area ul li {
        width: 79px;
    }
    .case_details_area_bottom {
        padding-bottom: 115px;
    }
}
@media only screen and (max-width: 767px) {
    .bg_image_area{
        padding: 0px;
    }
    .case_details_image_area ul li {
        width: 96px;
    }
    .case_details_area_bottom {
        padding-bottom: 42px;
    }
}
@media only screen and (max-width: 480px) {
    .case_details_image_area ul li {
        width: 78px;
    }
    .case_details_area_bottom {
        padding-bottom: 0px;
    }

}

#sslczPayBtn {
    position: relative; 
    border: 0 none;
    color: #fff;
    padding: 8px 20px 8px 70px;
    border-radius: 4px;
    height: 42px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    width: 254px;
    outline: 0;
    overflow: hidden; 
    background: #295cab!important; 
    padding: 8px 20px 8px 30px!important;
    height: auto!important;
}